In [53]:
import pandas as pd

In [54]:
df = pd.read_csv("blibla.csv", sep= ";")
df.head()

     Long     Lat
0  50.783   6.083
1  48.833  10.100
2  50.233   8.083
3  49.250  10.967
4  48.817  11.850

In [55]:
df["Coords"] = df['Long'].map(str) + ", " + df['Lat']
a = df.Coords.to_list()
b = []
for entry in a:
    x, y = entry.split(", ")
    try:
        b.append((float(x), float(y)))
    except:
        pass

In [56]:
NoWindKraftKoordinaten = b

In [57]:
df = pd.read_csv("Koordinaten.csv", sep=";")
a = df.Koordinaten.to_list()
b = []
for entry in a:
    x, y = entry.split(", ")
    try:
        b.append((float(x), float(y)))
    except:
        pass

In [58]:
for point in b:
    NoWindKraftKoordinaten.append(point)

In [59]:
df = pd.DataFrame()
df["loc"] = NoWindKraftKoordinaten

In [60]:
df.to_csv("NoWindkraftanlagen.csv", index=False)